.typing-test-app{
    height: 100vh;
    background-color: #F9EFEF;
}
.header{
    border: 1px solid #4D5A7C;
    height: 15%;
    background-color: #4D5A7C;
}

.header-text{
    color: #FA959B;
    font-size: 30px;
    font-weight: 500;
    margin-left: 20%;
}

.body{
    margin-top: 2%;
}

.body-infobar-labels{
    border: 1px solid #4D5A7C;
    background-color: #4D5A7C;
}

.body-infobar-labels ul, .body-infobar-content ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.body-infobar-content {
    border-bottom: 10px solid #4D5A7C;
}

.body-infobar-label{
    font-size: 21px;
    color: #ffff;
}

.body-infobar-item{
    font-size: 21px;
    color: #4D5A7C;
}

.body-textarea, .body-typingarea{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.body-textarea textarea{
    resize: none;
    border: 1px solid #fff;
    border-radius: 5px;
}

.body-typingarea input{
    border: 1px solid #fff;
    border-radius: 5px;
    width: 60%;
    height: 50px;
    font-size: 22px;
    color: #4D5A7C;
}